.tl-container {
    margin: 10px 0;
}

p {
    margin: 0;
}

.second-row {
    margin: 20px 0 25px;
}

.ant-steps-item:not(:last-child) .ant-steps-item-content {
    width: 200px;
    padding-right: 60px;
    margin-bottom: 20px;
}

.ant-steps-horizontal {
    margin-top: 20px;
    overflow-x: scroll;
}